@model MinisitreFin.Models.compte_rendu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>compte_rendu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre_cr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre_cr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sujet1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sujet1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sujet2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sujet2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activites.Nom_activ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activites.Nom_activ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
