@using MinisitreFin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenue Sur MEF Espace</h1>
                                    </div>
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                       
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <Label class="control-label">Email</Label>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <Label class = "control-label" >Mot de Passe</Label>
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Connecter" class="btn btn-default" />
                                                </div>
                                            </div>
                                            <p>
                                                @Html.ActionLink("S'inscrire En Tant Que Nouvel Utilisateur", "Register")
                                            </p>
                                        }
                                    <style>
                                        .bg-login-image {
                                            background-image: url('../../Content/img/logo-MF.jpg')!important;
                                            background-position-x: 0% !important;
                                            background-position-y: 0% !important;
                                            background-size: auto !important;
                                            background-position: center !important;
                                            background-size: cover !important;
                                        }
                                        .bg-gradient-primary {
                                            background: url('../../Content/img/effet.png');
                                            background-position-x: 0% !important;
                                            background-position-y: 0% !important;
                                            background-size: auto !important;
                                            background-position: center !important;
                                            background-size: cover !important;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>

