@model IEnumerable<MinisitreFin.Models.Activites>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_activ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objectif_activ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_Activite.Nom_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agenda.Nom_agenda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_activ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objectif_activ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_Activite.Nom_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agenda.Nom_agenda)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
