@model IEnumerable<MinisitreFin.Models.compte_rendu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Compte Rendu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom Activite
        </th>
        <th>
            Titre
        </th>
        <th>
            Date Debut
        </th>
        <th>
            Date Fin
        </th>
        <th>
            Sujet 1
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activites.Nom_activ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre_cr)
            </td>
            <td>
                @Html.FormatValue("yyy-MM-dd", item.Date_debut.Value.Date.ToString("yyy-MM-dd"))

            </td>
            <td>
                @Html.FormatValue("yyy-MM-dd", item.Date_fin.Value.Date.ToString("yyy-MM-dd"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sujet1)
            </td>
            <td>
                @if (item.Statut.Value)
                {
                    <h6 class="text-success">Validé</h6>
                }
                else
                {
                    <h6 class="text-warning">en coure de validation ...</h6>
                }
            </td>

            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Détails", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
