@{
    Layout = null;
}

@model IEnumerable<MinisitreFin.Models.Articles>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="~/RootAssets/assets/img/favicon.png">
    <title>Ministère de Santé</title>

    <!-- CSS
    ===============================================================-->
    <!-- Bootstrap Core CSS -->
    <link href="~/RootAssets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Icons -->
    <link href="~/RootAssets/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Flex Slider -->
    <link rel="stylesheet" href="~/RootAssets/assets/css/flexslider.css" />
    <!-- Template CSS -->
    <link href="~/RootAssets/assets/css/main.css" id="theme" rel="stylesheet" />
    <!-- Animation -->
    <link href="~/RootAssets/assets/css/animate.min.css" rel="stylesheet" />
    <!-- Slick Carousel -->

    <link href="~/RootAssets/assets/css/slick.css" rel="stylesheet" />

    <!-- Select Style -->
    <link href="~/RootAssets/assets/css/bootstrap-select.min.css" rel="stylesheet" />

    <!-- JAVASCRIPT
    ===============================================================-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- PRELOADER
    ===============================================================-->
    <div id="preloader">
        <div class="cssload-container">
            <div class="cssload-double-torus"></div>
        </div>
    </div>

    @Html.Partial("_NavbarSite")

    <!-- BACKGROUND SLIDER
    ===============================================================-->
    <!-- FLEXISLIDER -->
    <header class="container-fluid intro-slider">
        <div class="bg-slider-wrapper">
            <div id="bg-slider" class="flexslider bg-slider">
                <ul class="slides">
                    <li class="slide slide-1"></li>
                    <li class="slide slide-2"></li>
                    <li class="slide slide-3"></li>
                </ul>
            </div>
        </div>

        <!-- HOME PROMO -->
        <section class="home-promo">
            <div class="text-center wow">
                <h2 class="titlepro">

                    <span class="middle">Ministère <strong>de Santé</strong></span>
                    <span class="bottom">Ministère de Santé</span>
                </h2>
            </div>
        </section>
    </header>
    <!-- PRINCIPAL SERVICES -->
    <section class="bg-white">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-3 text-center home-icons">
                    <i class="fa fa-users wow fadeInUp" data-wow-delay="20ms"></i>
                    <div>
                        <h4>Les Hommes</h4>
                        <h5>Contribuer à développer l’employabilité des jeunes à travers une meilleure adéquation entre les qualifications et les besoins du marché du travail</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center home-icons">
                    <i class="fa fa-cogs wow fadeInUp" data-wow-delay="40ms"></i>
                    <div>
                        <h4>Le système</h4>
                        <h5>Mettre en place un cadre favorisant la coordination entre les différents intervenants, notamment au niveau provincial</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center home-icons">
                    <i class="fa fa-random wow fadeInUp" data-wow-delay="80ms"></i>
                    <div>
                        <h4>Les Initiatives</h4>
                        <h5>Investir dans le Capital Humain pour relever les défis de demain</h5>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 text-center home-icons">
                    <i class="fa fa-suitcase wow fadeInUp" data-wow-delay="60ms"></i>
                    <div>
                        <h4>Les projets</h4>
                        <h5>Accompagner le développement de projets innovants et contribuer à leur financement</h5>
                    </div>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /section Principal Services -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-r">
                        <h2>ARTICLES</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="slick-carousel" id="news">
                        @foreach (var item in Model)
                        {
                            <!-- Post -->
                            <div>
                                <article class="blognews">
                                    <a href="@Url.Action("Details","Home", new { id = item.ID })" class="mt5 mb15">
                                        <div class="item-img-wrap">
                                            <img src="~/AppImg/@Html.DisplayFor(modelItem => item.Image)" class="img-responsive" alt="template">
                                            <div class="item-img-overlay">
                                                <div class="news">
                                                    <span class="btn btn-transparent-sm"><i class="fa fa-plus"></i>Voire Plus</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <h4>@Html.DisplayFor(modelItem => item.Titre_article)</h4>
                                    <p>
                                        @Html.Raw((item.Description.Length > 200 ? item.Description.Substring(0, 200) : item.Description))
                                    </p>
                                    <p class="author">
                                        <i class="fa fa-calendar"></i>
                                        @Html.FormatValue("yyy-MM-dd", item.Date_creation.Value.Date.ToString("yyy-MM-dd"))
                                        <span>/</span>
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "corp-tooltip" })
                                    </p>
                                </article>
                            </div><!-- /item - post -->
                            <!-- Post -->
                        }


                    </div><!-- /news carousel -->
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- CLIENTS -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Web Tv</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="slick-carousel" id="clients">
                        <div><a href=""><iframe class="iframe-size" src="https://www.youtube.com/embed/481iatZvTwk"></iframe></a></div>
                        <div><a href=""><iframe class="iframe-size" src="https://www.youtube.com/embed/TkMjCNUVx4M"></iframe></a></div>
                        <div><a href=""><iframe class="iframe-size" src="https://www.youtube.com/ember/p3kV5oYdkZ4"></iframe></a></div>
                        <div><a href=""><iframe class="iframe-size" src="https://www.youtube.com/embed/RvuOOnBS1JM"></iframe></a></div>
                        <div><a href=""><iframe class="iframe-size" src="https://www.youtube.com/embed/RaOrzO2sXug"></iframe></a></div>
                        <div><a href=""><iframe class="iframe-size" src="https://www.youtube.com/embed/14EN8Cu_02I"></iframe></a></div>

                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /section Clients -->
    <section class="">
        <!-- CORPORATE -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>La Carte de Projets Développement au Maroc</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 wow fadeIn" data-wow-duration="1200ms" data-wow-delay="100ms">
                    <img src="~/AppImg/intro_r2_c2.png" alt="Services" class="img-responsive img-center">
                    <p class="mt15">
                        La Carte de Projets de Développement au Maroc – CDM est un système d’information géographique – SIG, qui permet d’avoir dans une base de données unique l’information sur la répartition géographique des projets de développement menés au Maroc.
                        Cette Carte s’adresse particulièrement aux citoyens et organismes de l’Etat et du Secteur privé, aux Universités et aux Médias utilisateurs de l’information sur l’effort de développement du Maroc.
                        <a href="https://sig-cdm.finances.gov.ma/default.aspx">Voire Plus</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="row wow fadeInRight" data-wow-duration="600ms" data-wow-delay="100ms">
                        <div class="col-xs-2 text-center">
                            <i class="fa fa-map-marker  fa-5x ico-services"></i>
                        </div>
                        <div class="col-xs-10 servdesc">
                            <h5>Lutte contre la pauvreté en milieu rural</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque metus at metus tristique tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="row wow fadeInRight" data-wow-duration="600ms" data-wow-delay="200ms">
                        <div class="col-xs-2 text-center">
                            <i class="fa fa-bar-chart fa-5x ico-services"></i>
                        </div>
                        <div class="col-xs-10 servdesc">
                            <h5>Lutte contre l'exclusion en milieu urbain</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque metus at metus tristique tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="row wow fadeInRight" data-wow-duration="600ms" data-wow-delay="300ms">
                        <div class="col-xs-2 text-center">
                            <i class="fa fa-university fa-4x ico-services"></i>
                        </div>
                        <div class="col-xs-10 servdesc">
                            <h5>Amélioration du revenu et inclusion économique des jeunes</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque metus at metus tristique tincidunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT US -->
    <section class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title">
                        <h2>Actualité</h2>
                    </div>
                </div>
                <!-- VIDEO -->
                <div class="col-sm-12 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        @*<iframe src="https://www.youtube.com/embed/052cLjBMLFA" allowfullscreen></iframe>*@
                       <iframe src="https://www.youtube.com/embed/14EN8Cu_02I" allowfullscreen></iframe>
                    </div>
                    <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <!-- DESCRIPTION -->
                <div class="col-sm-12 col-md-6">
                    <div class="blognews">
                        <a href="#" class="mb20">
                            <div class="item-img-wrap">
                                @*<img src="~/AppImg/act7.jpg" class="img-responsive" alt="template">*@
                                <iframe  src="https://www.youtube.com/embed/14EN8Cu_02I"></iframe>
                                <div class="item-img-overlay">
                                    <div class="about">
                                        <span class="btn btn-transparent-sm"><i class="fa fa-plus" allowfullscreen></i> Voire Plus</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <p><strong>MEF</strong> Ministère de la Santé du Royaume du Maroc .</p>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /section About Us -->
    <!-- NEWS -->
    <!-- /section News -->
    <!-- HOME CONTENT
    ===============================================================-->
    <!-- BUY NOW -->
    <section class="bg-buy parallax process-rounded" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="intro-text mt30 wow fadeInUp">
                        Ministère de la Santé du Royaume du Maroc .
                    </h1>
                    <p class="lead mt30">

                        
                    </p>

                </div>
            </div><!-- /row -->
        </div><!-- /container-fluid -->
    </section><!-- /section Buy Now with Parallax -->
    <!-- FOOTER
    ===============================================================-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer-widget col-sm-12 col-md-4">
                        <h3>Contactez-Nous</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-map-marker"></i>Bd. Med V. Quartier Administratif Rabat - Chellah
                            </li>
                            <li class="number"><i class="fa fa-phone"></i>Tél : 05 37.67.75.01</li>
                            <li><i class="fa fa-fax"></i>Fax : 05 37.67.75.26</li>
                            <li><i class="fa fa-envelope-o"></i>Courriel/E-mail : internet@sante.gov.ma</li>
                        </ul>
                        <div class="visible-xs-block visible-sm-block pt20"></div>
                    </div>
                    <div class="footer-widget col-sm-6 col-md-4">
                        <h3>Photo Gallery</h3>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 1">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 2">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 3">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 4">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 5">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 6">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 7">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 8">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 9">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 10">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 11">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <a href="http://placehold.it/900x600/BDC3C7/ffffff" class="gallery" title="Photo Gallery 12">
                            <img src="http://placehold.it/70x50/BDC3C7/ffffff" alt="Gallery thumbnail">
                        </a>
                        <div class="visible-xs-block visible-sm-block pt20"></div>
                    </div>
                    <div class="footer-widget col-sm-6 col-md-4">
                        <h3>
                            Ministère de santé
                            Maroc
                        </h3>

                        <p class="newsletter-desc"> Diffuser OFFICIELLEMENT des informations : institutionnelles et promotionnelles (+ scientifiques) et augmenter sa visibilité.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 social">
                        <ul class="list-inline social">
                            <li>
                                <a href="https://www.facebook.com/financesmaroc/" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/financesmaroc" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 credits">
                        <p>&copy; Ministère de l’Economie et des Finances 2020. All Rights Reserved.</p>
                        <p class="small">
                            <i class="fa fa-angle-right"></i>
                            Developed by: <a href="http://www.it6.ma/" target="_blank">IT6 Consulting</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--back to top-->
        <a href="#" class="scrollToTop" id="scrollToTop"><i class="fa fa-angle-up"></i></a>
    </footer>

    <!-- JAVASCRIPT
    ===============================================================-->
    <!-- JQuery -->
    <script src="~/RootAssets/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/RootAssets/js/bootstrap.min.js"></script>
    <!-- Vanillabox -->
    <script src="~/RootAssets/assets/js/jquery.vanillabox-0.1.7.min.js"></script>
    <!-- Slick Carousel -->
    <script src="~/RootAssets/assets/js/slick.min.js"></script>
    <!-- Select Style -->
    <script src="~/RootAssets/assets/js/bootstrap-select.min.js"></script>
    <!-- Flexslider -->
    <script src="~/RootAssets/assets/js/jquery.flexslider-min.js"></script>
    <!-- Placeholder for IE9 -->
    <script src="~/RootAssets/assets/js/jquery.placeholder.min.js"></script>
    <!-- Parallax -->
    <script src="~/RootAssets/assets/js/jquery.stellar.min.js"></script>
    <!-- Parallax -->
    <script src="~/RootAssets/assets/js/jquery.stellar.min.js"></script>
    <!-- Animation -->
    <script src="~/RootAssets/assets/js/wow.min.js"></script>
    <!-- Main -->
    <script src="~/RootAssets/assets/js/main.js"></script>
</body>
</html>