@model MinisitreFin.Models.Projet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<script>
    tinymce.init({
        selector: '#Description,#Objectif_projet',
        plugins: "wordcount",
    });
    function submitForm() {
        // Check if the user has entered less than 1000 characters
        if (getStats('Description').chars > 2500 || getStats('Objectif_projet').chars > 2500 ) {
            alert("Le Limite est 2500 Characters");
            return;
        }
        // Check if the user has entered less than 100 words
        //if (getStats('Objectifs_generaux').words < 100) {
        //    alert("You need to enter 100 words or more.");
        //    return;
        //}
        // Submit the form
        document.forms[0].submit();
    }

</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Projet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Initiative</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_Initiative", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Initiative, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nom De Projet</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom_projet, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Nom_projet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Description</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Objectif De Projet</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Objectif_projet, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Objectif_projet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date Debut</label>
            <div class="col-md-10">
                <input type="date" id="Date_debut" name="Date_debut" class="form-control" required />
                @Html.ValidationMessageFor(model => model.Date_debut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date Fin</label>
            <div class="col-md-10">
                <input type="date" id="Date_fin" name="Date_fin" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>
