@model IEnumerable<MinisitreFin.Models.Agenda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_agenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_creation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groupe_thematiqe.Nom_groupe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_agenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groupe_thematiqe.Nom_groupe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
