@model IEnumerable<MinisitreFin.Models.Articles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}
<h2>Articles</h2>
<p>
    @Html.ActionLink("Ajouter Un Article", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Titre Article
        </th>
        <th>
            Description
        </th>
        <th>
           Contenu Article
        </th>
        <th>
            Date Creation
        </th>
        <th>
            Statu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre_article)
        </td>
        <td>
            @Html.Raw((item.Description.Length > 100 ? item.Description.Substring(0, 100) : item.Description))
        </td>
        <td>
          
            @Html.Raw((item.Contenu_article.Length > 200 ? item.Contenu_article.Substring(0, 200) : item.Contenu_article))
        </td>
        
        <td>
            @Html.FormatValue("yyy-MM-dd", item.Date_creation.Value.Date.ToString("yyy-MM-dd"))
            
        </td>
        <td>
            <form action="/Articles/UpdateStatu/@item.ID" method="post">
                @Html.AntiForgeryToken()
                @{
                    if (item.statu)
                    {
                        <input type="submit" value="Active" class="btn text-success" />
                    }
                    else
                    {
                        <input type="submit" value="Desactive" class="btn text-danger" />
                    }
                }
            </form>
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |

        </td>
    </tr>
}

</table>
